@import '../../../styles/index.scss';

.herobanner {
    height: 900px;
    display: flex;
    align-items: center;

    .container {
        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            .heading {

                h1 {
                    font-size: 40px;
                    text-align: center;
                    color: var(--theme-primary-dark-text-color);

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }

                    @media (max-width: 480px) {
                        font-size: 25px;
                    }

                    @media (max-width: 320px) {
                        font-size: 20px;
                    }
                }
            }

            .logo {
                margin-top: 50px;
                border-radius: 10px;
                padding: 30px;
                width: fit-content;
                background-color: var(--theme-primary-dark-background-color);

                @media (max-width: 768px) {
                    padding: 20px;
                }

                @media (max-width: 480px) {
                    padding: 10px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .button {
                margin-top: 50px;

                button {
                    font-family: inherit;
                    cursor: pointer;
                    font-size: 20px;
                    letter-spacing: .9px;
                    padding: 8px 12px;
                    border: none;
                    border-radius: 6px;
                    text-transform: capitalize;
                    color: var(--theme-white-text-color);
                    background-color: var(--theme-blue-button-background-color);
                    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
    }
}