:root {
    --theme-black-text-color: #000000;
    --theme-white-text-color: #ffffff;
    --theme-primary-dark-text-color: #002a4f;
    --theme-black-background-color: #000000;
    --theme-white-background-color: #ffffff;
    --theme-white-border-color: #ffffff;
    --theme-white-button-border-color: #ffffff;
    --theme-blue-button-background-color: #5281FF;
    --theme-yellow-button-background-color: #fdb13e;
    --theme-darkyellow-button-background-color: #f89c11;
    --theme-primary-dark-background-color: #002a4f;
}